{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
  <section class="content">
    <div class="row">
      <div class="col">
        <div class="small-box bg-white shadow-1">
          <div class="inner px-3 py-3">
            <h3 class="text-dark">{{ clients }}</h3>
            <p class="text-dark">Clientes</p>
          </div>
          <div class="icon pr-2">
            <i class="fas fa-users text-aqua"></i>
          </div>
          <a href="#" class="small-box-footer bg-aqua"></a>
        </div>
      </div>
      <div class="col">
        <div class="small-box bg-white shadow-1">
          <div class="inner px-3 py-3">
            <h3 class="text-dark">{{ users_expired }}</h3>
            <p class="text-dark">Usuários Vencidos</p>
          </div>
          <div class="icon pr-2">
            <i class="fas fa-users text-danger"></i>
          </div>
          <a href="#" class="small-box-footer bg-danger"></a>
        </div>
      </div>
      <div class="col">
        <div class="small-box bg-white shadow-1">
          <div class="inner px-3 py-3">
            <h3 class="text-dark">{{ users_waiting }}</h3>
            <p class="text-dark">Usuários agurdando pagamento</p>
          </div>
          <div class="icon pr-2">
            <i class="fas fa-users text-warning"></i>
          </div>
          <a href="#" class="small-box-footer bg-warning"></a>
        </div>
      </div>
      <div class="col">
        <div class="small-box bg-white shadow-1">
          <div class="inner px-3 py-3">
            <h3 class="text-dark">{{ users_active }}</h3>
            <p class="text-dark">Usuários Ativos</p>
          </div>
          <div class="icon pr-2">
            <i class="fas fa-users text-success"></i>
          </div>
          <a href="#" class="small-box-footer bg-success"></a>
        </div>
      </div>
    </div>
    {% if perms.billet.list_billet %}
      <div class="row">
        <div class="col">
          <div class="small-box bg-white shadow-1">
            <div class="inner px-3 py-3">
              <h3 class="text-dark">{{ billets_wainting }}</h3>
              <p class="text-dark">Boletos Pendentes</p>
            </div>
            <div class="icon pr-2">
              <i class="fas fa-user-clock text-yellow"></i>
            </div>
            <a href="#" class="small-box-footer bg-yellow"></a>
          </div>
        </div>
        <div class="col">
          <div class="small-box bg-white shadow-1">
            <div class="inner px-3 py-3">
              <h3 class="text-dark">{{ billets_debited }}</h3>
              <p class="text-dark">Boletos Pagos</p>
            </div>
            <div class="icon pr-2">
              <i class="fas fa-user-check text-green"></i>
            </div>
            <a href="#" class="small-box-footer bg-green"></a>
          </div>
        </div>
        <div class="col">
          <div class="small-box bg-white shadow-1">
            <div class="inner px-3 py-3">
              <h3 class="text-dark">{{ billets_canceled }}</h3>
              <p class="text-dark">Boletos Cancelados</p>
            </div>
            <div class="icon pr-2">
              <i class="fas fa-user-times text-red"></i>
            </div>
            <a href="#" class="small-box-footer bg-red"></a>
          </div>
        </div>
      </div>
    {% endif %}

    <div class="box box-primary border-0 rounded-0 shadow-1">
      <div class="box-header">
        <div class="row align-items-center">
          <div class="col-md-8">
            <i class="fas fa-dollar-sign mr-2"></i>
            <h3 class="box-title">Faturamento</h3>
          </div>
        </div>
      </div>
      <div class="box-body text-center px-0">
        <canvas id="billingChart"></canvas>
      </div>
    </div>
    {% if perms.billet.list_billet %}
      <div class="box box-primary border-0 rounded-0 shadow-1">
        <div class="box-header">
          <div class="row align-items-center">
            <div class="col-md-8">
              <i class="fas fa-dollar-sign mr-2"></i>
              <h3 class="box-title">Faturamento dos boletos</h3>
            </div>
          </div>
        </div>
        <div class="box-body text-center px-0">
          <canvas id="billingBilletChart"></canvas>
        </div>
      </div>
    {% endif %}

  </section>
{% endblock %}
{% block css %}
  <link rel="stylesheet" href="{% static 'plugins/chart/css/chart.min.css' %}">
{% endblock %}
{% block js %}
  <script src="{% static 'plugins/chart/js/chart.min.js' %}"></script>
  <script>
    var labels = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'];
    var options = {
      aspectRatio: 4,
      legend: {
        display: false
      }
    };
    var data = {
      labels: labels,
      datasets: [
        {
          borderColor: '#3f4d67',
          backgroundColor: 'rgba(63, 77, 103, .8)',
          data: JSON.parse('{{ billing|safe }}')
        },
      ]
    };
    var canvas = $('#billingChart').get(0).getContext('2d');
    var billingChart = new Chart(canvas, {
      type: 'line',
      data: data,
      options: options
    });
  </script>
  {% if perms.billet.list_billet %}
    <script>
      var data = {
        labels: labels,
        datasets: [
          {
            borderColor: '#3f4d67',
            backgroundColor: 'rgba(63, 77, 103, .8)',
            data: JSON.parse('{{ billingBillet|safe }}')
          },
        ]
      };
      var canvas = $('#billingBilletChart').get(0).getContext('2d');
      var billingChart = new Chart(canvas, {
        type: 'line',
        data: data,
        options: options
      });
    </script>
  {% endif %}
{% endblock %}