{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
  <section class="content">
    <form class="position-relative" method="POST">
      {% csrf_token %}
      <div class="box box-primary border-0 rounded-0 shadow-1">
        <div class="box-header">
          <i class="fas fa-key mr-2"></i>
          <h3 class="box-title">Redefinir Senha</h3>
        </div>
        <div class="box-body">
          {% include 'core/components/field.html' with field=form.password_old %}
          <div class="row">
            <div class="col-md-6">
              {% include 'core/components/field.html' with field=form.password %}
            </div>
            <div class="col-md-6">
              {% include 'core/components/field.html' with field=form.password1 %}
            </div>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary flat-right rounded-circle"><i class="fas fa-save"></i></button>
    </form>
  </section>
{% endblock %}
{% block modal %}
  {% include 'core/components/form-error.html' with form=form %}
{% endblock %}