@media (max-width: 767px){
  .main-sidebar{
    padding-top: 0;
    margin-top: 155px;
    box-shadow: none;
  }
  .sidebar-open .main-sidebar{
    box-shadow: 1px 5px 20px 0 #3f4d67;
  }
  .sign-page .h-100{
    height: auto!important;
  }
}
@media (min-width: 768px){
  .sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu>li:hover>.treeview-menu {
    top: 48px;
  }
  .sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu>li:hover>a>.pull-right-container{
    left: 185px !important;
    top: -29px !important;
  }
  .main-sidebar, .main-header .logo{
    width: 265px;
  }
  .content-wrapper, .main-footer{
    margin-left: 265px;
  }
}