{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
  <section class="content">
    <form method="POST" class="row position-relative">
      {% csrf_token %}
      <div class="col-md-8">
        <div class="box box-primary border-0 rounded-0 shadow-1">
          <div class="box-header">
            <i class="fas fa-edit mr-2"></i>
            <h3 class="box-title">Formulário</h3>
          </div>
          <div class="box-body">
            <div {% if request.GET.profile %}class="d-none"{% endif %}>
              {% include 'core/components/field.html' with field=form.profile %}
            </div>
            <div class="row">
              <div class="col-md-6">
                {% include 'core/components/field.html' with field=form.username %}
              </div>
              <div class="col-md-6">
                {% include 'core/components/field.html' with field=form.password %}
              </div>
              <div class="col-md-6">
                {% include 'core/components/field.html' with field=form.panel %}
              </div>
              <div class="col-md-6">
                {% include 'core/components/field.html' with field=form.value class='mask-money' %}
              </div>
              <div class="col-md-12">
                {% include 'core/components/field.html' with field=form.points %}
                {% include 'core/components/field.html' with field=form.observation %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="box box-primary border-0 rounded-0 shadow-1">
          <div class="box-header">
            <i class="fas fa-calendar mr-2"></i>
            <h3 class="box-title">Data de expiração</h3>
          </div>
          <div class="box-body">
            {{ form.expiration }}
            <div id="datetimepicker"></div>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary flat-right rounded-circle"><i class="fas fa-save"></i></button>
    </form>
  </section>

{% endblock %}
{% block modal %}
  {% include 'core/components/form-error.html' with form=form %}
{% endblock %}
{% block css %}
  <link href="{% static 'plugins/datetimepicker/css/datetimepicker.min.css' %}" rel="stylesheet">
{% endblock %}
{% block js %}
  <script src="{% static 'plugins/moment/moment-with-locales.min.js' %}"></script>
  <script src="{% static 'plugins/locale/pt-br.js' %}"></script>
  <script src="{% static 'plugins/datetimepicker/js/datetimepicker.js' %}"></script>
  <script type="text/javascript">
    $(function(){
      $('.mask-money').mask('#.##0,00', {reverse: true});

      // DATETIMEPICKER
      $('#datetimepicker').datetimepicker({
        inline: true,
        sideBySide: true,
        locale: 'pt-br',
        format: 'DD/MM/YYYY',
        date: moment($('[name="expiration"]').val()),
      });

      $("#datetimepicker").on("dp.change", function (e) {
        $('[name="expiration"]').val(e.date.format('YYYY-MM-DD'))
      });
    })
  </script>
{% endblock %}
