{% extends "base.html" %}
{% load l10n template_tags %}

{% block content %}
  <section class="content">
    <div class="box box-primary border-0 rounded-0 shadow-1">
      <div class="box-header">
        <div class="row align-items-center">
          <div class="col-md-8">
            <i class="fas fa-list mr-2"></i>
            <h3 class="box-title">Usuários{% if profile %} de <b>{{ profile.name }}</b>{% endif %}</h3>
          </div>
          <div class="col-md-4">
            <form class="pb-0" style="min-height: auto;">
              <div class="input-group mb-2">
                <input type="text" name="q" placeholder="Filtro" value="{{ request.GET.q }}" class="form-control">
                <div class="input-group-append">
                  <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i></button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="box-body text-center px-0">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th class="border-0 text-left pl-4">Usuário</th>
                <th class="border-0">Senha</th>
                <th class="border-0">Cliente</th>
                <th class="border-0">Painel</th>
                <th class="border-0">Pontos</th>
                <th class="border-0">Valor</th>
                <th class="border-0">Observação</th>
                <th class="border-0">Data de expiração</th>
                <th class="border-0">Status</th>
                <th class="border-0" width="250">Ações</th>
              </tr>
            </thead>
            <tbody>
              {% for object in object_list %}
                <tr>
                  <td class="align-middle text-left pl-4">{{ object.username }}</td>
                  <td class="align-middle">{{ object.password }}</td>
                  <td class="align-middle">{{ object.profile }}</td>
                  <td class="align-middle">{{ object.panel }}</td>
                  <td class="align-middle">{{ object.points }}</td>
                  <td class="align-middle">R$ {{ object.value }}</td>
                  <td class="align-middle">{{ object.observation|default:'----' }}</td>
                  <td class="align-middle">{{ object.expiration|date:'d/m/Y' }}</td>
                  <td class="align-middle font-weight-bold text-{{ object|get_user_color_status }}">{{ object.get_status_display }}</td>
                  <td>
                    {% if perms.billet.list_billet and profile.cpf and profile.email %}
                      <a href="{% url 'billet:create' %}?profile={{ profile.uuid }}&dueDate={{ object.expiration|date:'Y-m-d' }}&amount={{ object.value|unlocalize }}" class="btn btn-outline-info" title="Gerar Boleto"><i class="fas fa-file"></i></a>
                    {% endif %}
                    <a href="https://api.whatsapp.com/send?phone=55{{ object.profile.phone }}&text={{ object|get_whats_message }}" target="_blank" class="btn btn-outline-success"><i class="fab fa-whatsapp"></i></a>
                    <a href="{% url 'profile:user-update' object.uuid %}{% if profile %}?profile={{ profile.uuid }}{% endif %}" class="btn btn-outline-success" title="Editar"><i class="fas fa-edit"></i></a>
                    <button type="button" data-toggle="modal" data-target="#confirm-{{ object.uuid }}" class="btn btn-outline-danger" title="Deletar"><i class="fas fa-trash"></i></button>
                  </td>
                </tr>
              {% empty %}
                <tr><td colspan="9" class="text-center">Nenhum registro encontrado!</td></tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% if is_paginated %}
          <div class="px-4">
            {% include 'core/components/pagination.html' with obj=page_obj paginator=paginator %}
          </div>
        {% endif %}
      </div>
    </div>
  </section>
  <a href="{% url 'profile:user-create' %}{% if profile %}?profile={{ profile.uuid }}{% endif %}" class="btn btn-primary flat-right rounded-circle"><i class="fas fa-plus"></i></a>
{% endblock %}
{% block modal %}
  {% for object in object_list %}
    {% url 'profile:user-delete' object.uuid as url_delete %}

    {% include 'core/components/modal_confirm.html' with uuid=object.uuid url=url_delete %}
  {% endfor %}
{% endblock %}
