<div class="box-alerts">
  {% if messages %}
    {% for message in messages %}
      <div class="callout{% if message.tags %} callout-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}{% endif %} open" style="display: none;">
        <p class="text-white mb-0">{{ message|safe }}</p>
      </div>
    {% endfor %}
  {% else %}
    <div class="callout callout-danger" style="display: none;">
      <p class="text-white mb-0">Mensagem de erro!</p>
    </div>
    <div class="callout callout-success" style="display: none;">
      <p class="text-white mb-0">Mensagem de sucesso!</p>
    </div>
  {% endif %}
</div>
  