{% if is_paginated %}
  <div class="row align-items-center">
    <div class="col d-none d-md-block text-md-left">
      <h6>Página {{ obj.number }} de {{ paginator.num_pages }} páginas</h6>
    </div>
    <div class="col my-4 my-md-0">
      <ul class="pagination mb-0 float-md-right">
        {% if obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ obj.previous_page_number }}">Anterior</a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <a class="page-link"  href="#">Anterior</a>
          </li>
        {% endif %}
        {% for i in paginator.page_range %}
          {% if obj.number == i %}
            <li class="page-item active">
              <a class="page-link" href="#">{{ i }} <span class="sr-only">(current)</span></a>
            </li>
          {% elif i > obj.number|add:'-3' and i < obj.number|add:'3' %}
            <li class="page-item">
              <a class="page-link" href="?page={{ i }}">{{ i }}</a>
            </li>
          {% endif %}
        {% endfor %}
        {% if obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ obj.next_page_number }}">Próximo</a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#">Próximo</a>
          </li>
        {% endif %}
      </ul>
    </div>
    <div class="col d-md-none">
      <h6>Página {{ obj.number }} de {{ paginator.num_pages }} páginas</h6>
    </div>
  </div>
{% endif %}